Openvpn
Wireshark

Vmware Fusion/VirtualBox

КриптоПРО Ngate (пиры устанавливают самостоятельно)

Для дополнительного задания:

ОС Windows 10 (Home/Pro) (пиры устанавливают самостоятельно)
КриптоПРО CSP (пиры устанавливают самостоятельно)